@charset "UTF-8";

// main.scss
// Main import file for Sass partials.

// SASS GROUNDWORK

// These are strictly helpers and should not output any code in CSS.
@import "sass-groundwork/src/abstract.variables";
@import "sass-groundwork/src/abstract.functions";
@import "sass-groundwork/src/abstract.mixins";

// Normalize styles
@import "sass-groundwork/src/normalize";
@import "sass-groundwork/src/sanitize";

@import "sass-groundwork/src/elements.base";
@import "sass-groundwork/src/elements.type";

$orange: #ff9600;
$black: #05040a;

body
{
    font-family: sans-serif;
    background-color: $black;
}

h1, h2
{
    font-family: "Alfa Slab One", sans-serif;
    margin-bottom: 0;
    letter-spacing: 0.15rem;
    line-height: 1.1;
    text-transform: uppercase;
}

h1
{
    font-size: 2rem;
    text-align: center;
}

.txt-center { text-align: center !important; }

.cover
{
    background-image: url( ./images/hero.jpg );
    background-size: cover;
    background-position: center top;
    z-index: -1;

    flex: 1 0 auto;

    @media ( orientation: portrait ) and ( min-width: 800px )
    {
        background-position: center 10%;
    }
}

.header
{
    background-color: $orange;
    padding: 1rem;
    padding-bottom: calc( 1rem - 3px );
}

.contact__header
{
    padding: 1rem;
    background-color: transparent;
    position: relative;
    text-align: center;
}

.btn
{
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    padding-bottom: 9px; // fix for shitty font spacing
    border: 1px solid $orange;
    color: $orange;
}


.relative
{
    position: relative !important;
}

.contact__info
{
    padding: 1rem;
    background-color: $orange;
    text-align: center;

    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li { display: block; }

    li + li { margin-top: 10px; }

    a
    {
        display: block;
        width: 80%;
        max-width: 480px;
        padding: 10px;
        text-decoration: none;
        color: $orange;
        margin: 0 auto;
        background-color: $black;
    }

}

@media ( orientation: portrait )
{
    body
    {
        display: flex;
        flex-direction: column;
    }

    .contact
    {
        @include absolute( null 0 0 0 );
    }

    .contact:not(:target)
    {

        .close { display: none; }

        .contact__info
        {
            display: none;
        }
    }

    .contact:target
    {

        .close
        {
            display: block;
            @include absolute( 0 0 0 0 );
        }

        .contact__info
        {
            display: block;
        }
    }
}

@media ( orientation: landscape )
{
    .section
    {
        margin-left: 50%;
        background-color: transparent;
        padding: 2rem;
    }

    .cover
    {
        @include size( 50%, 100% );
        @include absolute( 0 null 0 0 );
    }

    h1
    {
        font-size: 3rem;
        color: $orange;
    }

    .contact__header
    {
        display: none;
    }

    .contact__info
    {
        background-color: transparent;

        li + li { margin-top: 20px; }

        a
        {
            font-size: 1.5rem;
            padding: 1rem;
            border: 1px solid $orange;
            transition: all .2s;

            &:hover,
            &:focus
            {
                outline: none;
                box-shadow: inset 0 0 0 3px $orange;
            }
        }
    }
}
