
{% set email = 'info@markokovacic.com' %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marko Kovacic</title>

    <link href="/main.css" rel="stylesheet" data-inline>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
</head>

<body>
    <section class="section header">
        <h1>Marko Kovačić</h1>
    </section>
    <div class="cover"></div>
    <section class="section contact" id="contact">
        <div class="contact__header">
            <a href="#" class="close"></a>
            <a class="btn" href="#contact">
                <h2>Kontakt</h2>
            </a>
        </div>

        <div class="contact__info">
            <ul>
                <li><a href="mailto:info@markokovacic.com">info@markokovacic.com</a></li>
                <li><a href="tel:+385997017022">+385 99 701 7022</a></li>
                <li><a href="https://facebook.com/kovaBB/">facebook.com/kovaBB</a></li>
                <li><a href="https://www.instagram.com/samomisici/">instagram.com/samomisici</a></li>
            </ul>
        </div>
    </section>

</body>
</html>
