
{% set email = 'info@markokovacic.com' %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marko Kovacic</title>

    <link href="/main.css" rel="stylesheet" data-inline>
</head>

<body>

    <section>
        <h1>Marko Kovacic</h1>
    </section>

    <div id="email" class="popup" role="dialog">

        <a href="#" class="popup__overlay"></a>

        <div class="popup__body" role="document">

            <span class="hide">
                {{ email | replace( '@', ' at ' ) }}
            </span>
            <a class="js-mail mail fancy-underline" tabindex="0" aria-hidden="true">
                {{ email | reverse }}
            </a>
        </div>

    </div>

    <script src="/main.js" data-inline></script>

</body>
</html>
